In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
pd.options.display.float_format = '{:.0f}'.format

In [16]:
df = pd.read_csv("nst-est2019-alldata.csv")
df.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,10,0,0,0,United States,308745538,308758105,309321666,311556874,313830990,...,0.000000,2.493773,2.682083,2.636187,2.921500,3.260435,3.252788,2.871957,2.153911,1.818059
1,20,1,0,0,Northeast Region,55317240,55318443,55380134,55604223,55775216,...,-5.254530,0.887909,-0.038355,-0.469783,-0.986097,-2.061965,-2.490484,-1.837048,-2.134447,-2.859713
2,20,2,0,0,Midwest Region,66927001,66929725,66974416,67157800,67336743,...,-2.365881,-0.963930,-0.973943,-0.006924,-0.762969,-1.388437,-1.241784,-0.557370,-0.922755,-1.111173
3,20,3,0,0,South Region,114555744,114563030,114866680,116006522,117241208,...,3.261349,5.130513,5.850458,5.292073,6.161501,7.277358,7.150074,6.198168,5.225519,5.203720
4,20,4,0,0,West Region,71945553,71946907,72100436,72788329,73477823,...,0.614245,2.723344,3.062896,3.162262,4.026429,4.987285,5.261078,4.021194,3.044951,2.312083

In [17]:
df = df.drop(df.columns[27:], axis = 1)
df = df.drop(df.columns[0], axis = 1)

In [26]:
df_house = df[['NAME','CENSUS2010POP','POPESTIMATE2010','POPESTIMATE2019']]
df_house = df_house.drop([0,1,2,3,4,13,56])
df_house.reset_index(drop=True, inplace=True)
df_house.head()

              NAME  CENSUS2010POP  POPESTIMATE2010  POPESTIMATE2019
0          Alabama        4779736          4785437          4903185
1           Alaska         710231           713910           731545
2          Arizona        6392017          6407172          7278717
3         Arkansas        2915918          2921964          3017804
4       California       37253956         37319502         39512223
5         Colorado        5029196          5047349          5758736
6      Connecticut        3574097          3579114          3565287
7         Delaware         897934           899593           973764
8          Florida       18801310         18845537         21477737
9          Georgia        9687653          9711881         10617423
10          Hawaii        1360301          1363963          1415872
11           Idaho        1567582          1570746          1787065
12        Illinois       12830632         12840503         12671821
13         Indiana        6483802          6490432          6732219
14            Iowa        3046355          3050745          3155070
15          Kansas        2853118          2858190          2913314
16        Kentucky        4339367          4348181          4467673
17       Louisiana        4533372          4544532          4648794
18           Maine        1328361          1327629          1344212
19        Maryland        5773552          5788645          6045680
20   Massachusetts        6547629          6566307          6892503
21        Michigan        9883640          9877510          9986857
22       Minnesota        5303925          5310828          5639632
23     Mississippi        2967297          2970548          2976149
24        Missouri        5988927          5995974          6137428
25         Montana         989415           990697          1068778
26        Nebraska        1826341          1829542          1934408
27          Nevada        2700551          2702405          3080156
28   New Hampshire        1316470          1316762          1359711
29      New Jersey        8791894          8799446          8882190
30      New Mexico        2059179          2064552          2096829
31        New York       19378102         19399878         19453561
32  North Carolina        9535483          9574323         10488084
33    North Dakota         672591           674715           762062
34            Ohio       11536504         11539336         11689100
35        Oklahoma        3751351          3759944          3956971
36          Oregon        3831074          3837491          4217737
37    Pennsylvania       12702379         12711160         12801989
38    Rhode Island        1052567          1053959          1059361
39  South Carolina        4625364          4635649          5148714
40    South Dakota         814180           816166           884659
41       Tennessee        6346105          6355311          6829174
42           Texas       25145561         25241971         28995881
43            Utah        2763885          2775332          3205958
44         Vermont         625741           625879           623989
45        Virginia        8001024          8023699          8535519
46      Washington        6724540          6742830          7614893
47   West Virginia        1852994          1854239          1792147
48       Wisconsin        5686986          5690475          5822434
49         Wyoming         563626           564487           578759

In [34]:
df_house['POPESTIMATE2020'] = np.zeros(50)
df_house['CENSUS2020POP'] = np.zeros(50)

for index, row in df_house.iterrows():
    rate = (row['POPESTIMATE2019']/row['POPESTIMATE2010']) - 1
    rate = rate/9
    rate_census = rate*9/12
    
    pop_2020_est = row['POPESTIMATE2019']*np.exp(rate)
    pop_2020_census = row['POPESTIMATE2019']*np.exp(rate_census)
    
    df_house.loc[index,'POPESTIMATE2020'] = pop_2020_est
    df_house.loc[index,'CENSUS2020POP'] = pop_2020_census
    
df_house.head()

,NAME,CENSUS2010POP,POPESTIMATE2010,POPESTIMATE2019,POPESTIMATE2020,CENSUS2020POP
0,Alabama,4779736,4785437,4903185,4916608,4913249
1,Alaska,710231,713910,731545,733556,733052
2,Arizona,6392017,6407172,7278717,7389563,7361695
3,Arkansas,2915918,2921964,3017804,3028822,3026064
4,California,37253956,37319502,39512223,39771017,39706160

In [ ]:
seats_2010 = []
seats_2020 = []